{% extends 'base.html.twig' %}

{% block main_nav %}
    {% include 'navs/main.html.twig' %}
{% endblock %}

{% block body %}
    <div {{ svelte_component('Game', {
        'userName': app.user ? app.user.name : false,
        'userScoresData': userScores
    }) }}></div>
{% endblock %}